.widget.widget_cards {
    .apolo-widget-card{
        display: flex;
        justify-content: center;
        align-items: center;
        .wrapper-card{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            .text-title{
                font-size: $fs_24px;
                color: white;
            }

            .wrapper-card-content{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: 100%;
                --gap: (var(--columns) - 1) * 10px;
                .card-menu-list{
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    width: 100%;
                    flex-wrap: wrap;
                    height: 100%;
                    .menu-item{
                        display: flex;
                        width: calc((100% - var(--gap)) / var(--columns));
                        background: var(--primaria-escura);
                        height: var(--height);
                        color: white;
                        border-radius: var(--border-radius);

                        a{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

