.template-section-header-bar{
    display: flex;
    flex-direction: row;
    background: white;
    filter: drop-shadow(0 2px 4px rgba(0,0,0,.05));

    .container{

        .wrapper-header-bar{
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            padding: 5px 0;
            align-items: center;

            .custom-logo-link{
                img{
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
}
