.template-component-menu{
    .wrapper-menu{
        ul{
            display: flex;
            flex-direction: row;
            gap: 40px;

            .menu-item{
                display: flex;

                a{
                    display: flex;
                    align-items: center;
                    font-weight: 700;
                    text-transform: uppercase;
                    font-size: $fs_12px;
                    color: var(--fonte-escura);
                }
            }
        }
    }
}
