.template-component-social-media{
    display: flex;
    .wrapper-social-icons{
        display: flex;
        flex-direction: row;
        gap: 15px;
        .content-social-media{
            .item-social-media{
                display: flex;
                align-items: center;
                gap: 5px;

                .icon-social-media{
                    display: flex;

                    svg{
                        width: 16px;
                        height: 16px;

                        g{
                            g{
                                path{
                                    fill: var(--secundaria);
                                }

                                g{
                                    .path-1{
                                        fill: var(--secundaria) !important;
                                    }
                                }
                            }
                        }

                        .cls-1{
                            fill: var(--secundaria) !important;
                        }
                    }
                }

                .text-social-media{
                    align-items: center;
                    display: flex;
                    font-size: $fs_12px;
                    font-weight: 500;
                    letter-spacing: .02em;
                    line-height: 110%;
                    text-transform: uppercase;
                    transition: .2s;
                    color: var(--fonte-escura);
                }

                &:hover{
                    .text-social-media{
                        color: var(--secundaria);
                    }
                }
            }
        }
    }
}
