.template-section-footer-main {
    background-color: var(--primaria);
    padding: 40px 0;

    .container {

        .wrapper-footer-main {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            .title-item-footer {
                font-size: $fs_24px;
                font-weight: bold;
                color: var(--secundaria);
                margin-bottom: 20px;
                line-height: 120%;
            }

            .footer-content {
                display: flex;
                flex-direction: column;
                max-width: 400px;

                .text-content {
                    display: flex;
                    height: fit-content;
                    color: var(--cor-branca);;
                    font-size: $fs_16px;
                    line-height: 110%;
                    max-width: 350px;
                }

                .wrapper-content-infos{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .content {
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        svg {
                            width: 40px;
                            height: 40px;
                            margin-right: 10px;

                            path {
                                fill: var(--secundaria);
                            }
                        }
                    }
                }

                &.footer-center {
                    display: flex;
                    flex-direction: column;


                    .wrapper-footer-center {
                        display: flex;
                        flex-direction: column;
                    }
                }

                &.footer-right{
                    display: flex;
                    flex-direction: column;

                    .wrapper-footer-right{
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        .wrapper-content-infos{
                            gap: 5px;
                            .content{
                                svg{
                                    width: 30px;
                                    height: 30px;
                                    margin-right: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
